# Kaggle League of Legends competition - Data Exploration

## Team: Elden Ring

<img src="https://eldenring.wiki.fextralife.com/file/Elden-Ring/mirel_pastor_of_vow.jpg" alt="PRAISE DOG" style="width:806px;height:600px;"/>

#### PRAISE THE DOG!

In [100]:
import pandas as pd
import numpy as np
from sklearn.metrics import accuracy_score, classification_report, confusion_matrix
from sklearn.linear_model import LogisticRegression

In [154]:
X_train = pd.read_csv('../data/participants_train.csv')
X_test = pd.read_csv('../data/participants_test.csv')
y_train = pd.read_csv('../data/train_winners.csv')

champion_mastery = pd.read_csv('../data/champion_mastery.csv')
champion = pd.read_json('../data/champion.json')
team_positions = pd.read_csv('../data/teamPositions.csv')

In [131]:
# to unpack the relevant information
champion = pd.json_normalize(champion['data'])

In [5]:
X_train_mastery = pd.merge(X_train, champion_mastery, how='left', on=['summonerId', 'championId'], indicator=True)
X_train_mastery.loc[X_train_mastery['_merge'] != 'both']

,matchId,teamId,participantId,summonerId,summonerLevel,championName,championId,championLevel,championPoints,chestGranted,tokensEarned,_merge
15475,1547,200,6,4039,67,Malphite,54,NaN,NaN,NaN,NaN,left_only
17267,1726,200,8,13584,43,Zed,238,NaN,NaN,NaN,NaN,left_only
20142,2014,100,3,15354,50,Corki,42,NaN,NaN,NaN,NaN,left_only
20609,2060,200,10,15627,97,Senna,235,NaN,NaN,NaN,NaN,left_only
28330,2833,100,1,19836,34,Nasus,75,NaN,NaN,NaN,NaN,left_only
35860,3586,100,1,23525,52,KSante,897,NaN,NaN,NaN,NaN,left_only
47090,4709,100,1,28312,42,Gwen,887,NaN,NaN,NaN,NaN,left_only
53017,5301,200,8,30650,53,Cassiopeia,69,NaN,NaN,NaN,NaN,left_only
56373,5637,100,4,31856,44,Samira,360,NaN,NaN,NaN,NaN,left_only
58253,5825,100,4,8619,47,Kaisa,145,NaN,NaN,NaN,NaN,left_only
58704,5870,100,5,4437,49,Senna,235,NaN,NaN,NaN,NaN,left_only
74619,7461,200,10,20240,65,Sejuani,113,NaN,NaN,NaN,NaN,left_only

In [103]:
X_test_mastery = pd.merge(X_test, champion_mastery, how='left', on=['summonerId', 'championId'], indicator=True)
X_test_mastery.loc[X_test_mastery['_merge'] != 'both']

,matchId,teamId,participantId,summonerId,summonerLevel,championName,championId,championLevel,championPoints,chestGranted,tokensEarned,_merge
5513,8551,100,4,41371,35,Kaisa,145,0.0,0.0,0,0.0,left_only
10156,9015,200,7,42698,43,Kayn,141,0.0,0.0,0,0.0,left_only

> NOTE on the above two: there are player - champion combinations that likely had too little games ()

In [128]:
X_test_mastery['championLevel'].value_counts()

7.0    10158
5.0     3659
6.0     1662
4.0     1534
3.0     1387
2.0     1101
1.0      497
Name: championLevel, dtype: int64

In [149]:
champion['key'] = champion['key'].astype(int)
X_train_champion = pd.merge(X_train, champion, how='inner', left_on='championId', right_on='key')
X_train_champion = X_train_champion.sort_values(['matchId', 'participantId'], ascending = [True, True]).reset_index(drop=True)

In [152]:
X_train_champion[['info.attack', 'info.defense', 'info.magic', 'info.difficulty']]

       info.attack  info.defense  info.magic  info.difficulty
0                4             6           7                4
1                3             4           8                5
2                2             5           8                6
3                8             2           2                6
4                1             6           8                1
...            ...           ...         ...              ...
79995            6             6           4                6
79996            7             7           4                3
79997            1             4          10               10
79998            9             2           3                6
79999            2             5           8                6

[80000 rows x 4 columns]

In [161]:
team_positions

       matchId  participantId teamPosition
0            0              1          TOP
1            0              2       JUNGLE
2            0              3       MIDDLE
3            0              4       BOTTOM
4            0              5      UTILITY
...        ...            ...          ...
99995     9999              6          TOP
99996     9999              7       JUNGLE
99997     9999              8       MIDDLE
99998     9999              9       BOTTOM
99999     9999             10      UTILITY

[100000 rows x 3 columns]