In [1]:
import pandas as pd

In [107]:
X_train = pd.read_csv('../data/participants_train.csv')
X_test = pd.read_csv('../data/participants_test.csv')
y_train = pd.read_csv('../data/train_winners.csv')
submission = pd.read_csv('../data/sample_submission.csv')

In [108]:
y_train.shape

(8000, 2)

In [3]:
X_train.head(10)

,matchId,teamId,participantId,summonerId,summonerLevel,championName,championId
0,0,100,1,0,303,Mordekaiser,82
1,0,100,2,1,616,Sylas,517
2,0,100,3,2,667,Lissandra,127
3,0,100,4,3,860,Caitlyn,51
4,0,100,5,4,325,Morgana,25
5,0,200,6,5,459,Warwick,19
6,0,200,7,6,416,LeeSin,64
7,0,200,8,7,338,Ahri,103
8,0,200,9,8,344,Samira,360
9,0,200,10,9,532,Alistar,12

I'll make a really simple model - I'll simply predict the winner based on which team has the highest level summoner.

In [4]:
train_predictions = ( 
    X_train
    .sort_values(['matchId', 'summonerLevel'], ascending = [True, False])
    .drop_duplicates('matchId')
    [['matchId', 'teamId']]
    .reset_index(drop = True)
)

train_predictions

      matchId  teamId
0           0     100
1           1     100
2           2     200
3           3     200
4           4     100
...       ...     ...
7995     7995     200
7996     7996     200
7997     7997     100
7998     7998     200
7999     7999     100

[8000 rows x 2 columns]

In [5]:
from sklearn.metrics import accuracy_score

In [6]:
accuracy_score(
    y_true = y_train['winner'],
    y_pred = train_predictions['teamId']
)

0.504

Looks like I do a pretty terrible job with this method. Nevertheless, I'll implement this on the test data.

In [7]:
y_pred = ( 
    X_test
    .sort_values(['matchId', 'summonerLevel'], ascending = [True, False])
    .drop_duplicates('matchId')
    ['teamId']
    .reset_index(drop = True)
)

y_pred

0       100
1       100
2       200
3       200
4       200
       ...
1995    100
1996    200
1997    200
1998    200
1999    100
Name: teamId, Length: 2000, dtype: int64

I'll add these to the sample submission.

In [8]:
submission['winner'] = y_pred
submission.head()

   matchId  winner
0     8000     100
1     8001     100
2     8002     200
3     8003     200
4     8004     200

Now, I'll export the result.

In [9]:
submission.to_csv('../data/first_submission.csv', index = False)

**READING THE OTHER FILES AND SEE WHAT ARE THERE**

In [10]:
champ = pd.read_csv('../data/champion_mastery.csv') 
#question how to connect this with the X_train data where we have the win and loose stats
champ.columns

Index(['summonerId', 'championId', 'championLevel', 'championPoints',
       'chestGranted', 'tokensEarned'],
      dtype='object')

In [11]:
champ_grp = champ.groupby('championId')['championPoints'].sum().sort_values(ascending =False).to_frame()
champ_grp

            championPoints
championId
157             4244962990
64              3547947193
67              3247397232
81              3109033237
412             2824465392
...                    ...
888              166163087
526              143231115
200               94031879
895               80835147
897               52507213

[162 rows x 1 columns]

In [12]:
X_train_added = pd.merge(X_train, champ_grp, left_on="championId", right_on="championId", how="left")
X_train_added.head(5)

,matchId,teamId,participantId,summonerId,summonerLevel,championName,championId,championPoints
0,0,100,1,0,303,Mordekaiser,82,829357128
1,0,100,2,1,616,Sylas,517,914915168
2,0,100,3,2,667,Lissandra,127,593687341
3,0,100,4,3,860,Caitlyn,51,2483939552
4,0,100,5,4,325,Morgana,25,1939925550

**Modifying the X_test files also as the train file**

In [29]:
X_test_added = pd.merge(X_test, champ_grp, left_on="championId", right_on="championId", how="left")
X_test_added.head(5)

,matchId,teamId,participantId,summonerId,summonerLevel,championName,championId,championPoints
0,8000,100,1,23938,57,Fiora,114,1329045944
1,8000,100,2,8037,788,LeeSin,64,3547947193
2,8000,100,3,8444,566,Veigar,45,1251033141
3,8000,100,4,24831,542,Twitch,29,1312924552
4,8000,100,5,23890,224,Soraka,16,1239343872

In [36]:
# **using the championPoints for prediction**

train_predictions_added = ( 
    X_train_added
    .sort_values(['matchId', 'championPoints'], ascending = [True, False])
    .drop_duplicates('matchId')
    ['teamId']
    .reset_index(drop = True)
)

train_predictions_added

0       200
1       200
2       100
3       100
4       200
       ...
7995    200
7996    100
7997    200
7998    100
7999    100
Name: teamId, Length: 8000, dtype: int64

In [14]:
accuracy_score(
    y_true = y_train['winner'],
    y_pred = train_predictions_added['teamId']
)

#Score is reduced adding the championpoints reduces from 0.504 to 0.489

0.489625

**testing the test data to create the submission.csv**

In [37]:
test_predictions_added = ( 
    X_test_added
    .sort_values(['matchId', 'championPoints'], ascending = [True, False])
    .drop_duplicates('matchId')
    [ 'teamId']
    .reset_index(drop = True)
)

test_predictions_added

0       200
1       100
2       200
3       200
4       200
       ...
1995    100
1996    100
1997    100
1998    200
1999    100
Name: teamId, Length: 2000, dtype: int64

In [38]:
submission['winner'] = test_predictions_added
submission.head()

   matchId  winner
0     8000     200
1     8001     100
2     8002     200
3     8003     200
4     8004     200

In [39]:
submission.to_csv('../data/sm1_submission.csv', index = False)

In [15]:
# **using the championPoints for prediction**

train_predictions_added = ( 
    X_train_added
    .sort_values(['matchId', 'summonerLevel', 'championPoints'], ascending = [True, False, False])
    .drop_duplicates('matchId')
    [['matchId', 'teamId']]
    .reset_index(drop = True)
)

train_predictions_added

      matchId  teamId
0           0     100
1           1     100
2           2     200
3           3     200
4           4     100
...       ...     ...
7995     7995     200
7996     7996     200
7997     7997     100
7998     7998     200
7999     7999     100

[8000 rows x 2 columns]

In [16]:
accuracy_score(
    y_true = y_train['winner'],
    y_pred = train_predictions_added['teamId']
)

#it is back to 0.50375, lookslike championpoint has no additive effect.

0.50375

**Will add both the smmerlevel and the chapionpoints for prediction**

In [17]:
champion = pd.read_json('../data/champion.json')
champion

,type,format,version,data
Aatrox,champion,standAloneComplex,13.5.1,"{'version': '13.5.1', 'id': 'Aatrox', 'key': '..."
Ahri,champion,standAloneComplex,13.5.1,"{'version': '13.5.1', 'id': 'Ahri', 'key': '10..."
Akali,champion,standAloneComplex,13.5.1,"{'version': '13.5.1', 'id': 'Akali', 'key': '8..."
Akshan,champion,standAloneComplex,13.5.1,"{'version': '13.5.1', 'id': 'Akshan', 'key': '..."
Alistar,champion,standAloneComplex,13.5.1,"{'version': '13.5.1', 'id': 'Alistar', 'key': ..."
...,...,...,...,...
Zeri,champion,standAloneComplex,13.5.1,"{'version': '13.5.1', 'id': 'Zeri', 'key': '22..."
Ziggs,champion,standAloneComplex,13.5.1,"{'version': '13.5.1', 'id': 'Ziggs', 'key': '1..."
Zilean,champion,standAloneComplex,13.5.1,"{'version': '13.5.1', 'id': 'Zilean', 'key': '..."
Zoe,champion,standAloneComplex,13.5.1,"{'version': '13.5.1', 'id': 'Zoe', 'key': '142..."
Zyra,champion,standAloneComplex,13.5.1,"{'version': '13.5.1', 'id': 'Zyra', 'key': '14..."

In [18]:
champion_data = pd.DataFrame.from_dict(champion['data'].values.tolist())   

champion_data.head(5)
champion_data[champion_data['name']== "Akshan"]

,version,id,key,name,title,blurb,info,image,tags,partype,stats
3,13.5.1,Akshan,166,Akshan,the Rogue Sentinel,"Raising an eyebrow in the face of danger, Aksh...","{'attack': 0, 'defense': 0, 'magic': 0, 'diffi...","{'full': 'Akshan.png', 'sprite': 'champion0.pn...","[Marksman, Assassin]",Mana,"{'hp': 630, 'hpperlevel': 104, 'mp': 350, 'mpp..."

In [19]:
champion_data_info = pd.DataFrame.from_dict(champion_data['info'].values.tolist())   

champion_data_info.columns

Index(['attack', 'defense', 'magic', 'difficulty'], dtype='object')

In [20]:
champion_data_stats = pd.DataFrame.from_dict(champion_data['stats'].values.tolist())   

champion_data_stats.head(5)

,hp,hpperlevel,mp,mpperlevel,movespeed,armor,armorperlevel,spellblock,spellblockperlevel,attackrange,hpregen,hpregenperlevel,mpregen,mpregenperlevel,crit,critperlevel,attackdamage,attackdamageperlevel,attackspeedperlevel,attackspeed
0,650,114,0,0.0,345,38,4.45,32,2.05,175,3.00,1.00,0.0,0.0,0,0,60,5.00,2.500,0.651
1,590,96,418,25.0,330,21,4.70,30,1.30,550,2.50,0.60,8.0,0.8,0,0,53,3.00,2.000,0.668
2,570,119,200,0.0,345,23,4.70,37,2.05,125,9.00,0.90,50.0,0.0,0,0,62,3.30,3.200,0.625
3,630,104,350,40.0,330,26,4.20,30,1.30,500,3.75,0.65,8.2,0.7,0,0,52,3.50,4.000,0.638
4,670,120,350,40.0,330,44,4.70,32,2.05,125,8.50,0.85,8.5,0.8,0,0,62,3.75,2.125,0.625

In [21]:
#merging two df using index when dont have same columns df1.join(df2) or pd.concat([df1, df2], axis=1)

champ_spread = champion_data.join(champion_data_stats)

champ_spread.describe()
champ_spread.shape #162, 31
champ_spread.columns.to_list()

['version',
 'id',
 'key',
 'name',
 'title',
 'blurb',
 'info',
 'image',
 'tags',
 'partype',
 'stats',
 'hp',
 'hpperlevel',
 'mp',
 'mpperlevel',
 'movespeed',
 'armor',
 'armorperlevel',
 'spellblock',
 'spellblockperlevel',
 'attackrange',
 'hpregen',
 'hpregenperlevel',
 'mpregen',
 'mpregenperlevel',
 'crit',
 'critperlevel',
 'attackdamage',
 'attackdamageperlevel',
 'attackspeedperlevel',
 'attackspeed']

In [22]:
champ_spread1 = champ_spread.drop(columns = ['version',
 'id',
 
 'title',
 'blurb',
 'info',
 'image',
 'tags',
 'partype',
 'stats']).rename(columns = {'key': 'championId',
                             'name': 'championName'})

In [23]:
X_train_added.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 80000 entries, 0 to 79999
Data columns (total 8 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   matchId         80000 non-null  int64
 1   teamId          80000 non-null  int64
 2   participantId   80000 non-null  int64
 3   summonerId      80000 non-null  int64
 4   summonerLevel   80000 non-null  int64
 5   championName    80000 non-null  object
 6   championId      80000 non-null  int64
 7   championPoints  80000 non-null  int64
dtypes: int64(7), object(1)
memory usage: 5.5+ MB

In [24]:


champ_spread1['championId'] = champ_spread1['championId'].astype('int64')
champ_spread1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 162 entries, 0 to 161
Data columns (total 22 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   championId            162 non-null    int64
 1   championName          162 non-null    object
 2   hp                    162 non-null    int64
 3   hpperlevel            162 non-null    int64
 4   mp                    162 non-null    int64
 5   mpperlevel            162 non-null    float64
 6   movespeed             162 non-null    int64
 7   armor                 162 non-null    int64
 8   armorperlevel         162 non-null    float64
 9   spellblock            162 non-null    int64
 10  spellblockperlevel    162 non-null    float64
 11  attackrange           162 non-null    int64
 12  hpregen               162 non-null    float64
 13  hpregenperlevel       162 non-null    float64
 14  mpregen               162 non-null    float64
 15  mpregenperlevel       162 non-null    float64
 16  crit                  162 non-null    int64
 17  critperlevel          162 non-null    int64
 18  attackdamage          162 non-null    int64
 19  attackdamageperlevel  162 non-null    float64
 20  attackspeedperlevel   162 non-null    float64
 21  attackspeed           162 non-null    float64
dtypes: float64(10), int64(11), object(1)
memory usage: 28.0+ KB

In [25]:
X_train_added1 = pd.merge(X_train_added, champ_spread1, 
                          left_on=["championId", "championName"], 
                          right_on=["championId", "championName"], 
                          how="left")
X_train_added1.head(5)
X_train_added1.columns.to_list()

['matchId',
 'teamId',
 'participantId',
 'summonerId',
 'summonerLevel',
 'championName',
 'championId',
 'championPoints',
 'hp',
 'hpperlevel',
 'mp',
 'mpperlevel',
 'movespeed',
 'armor',
 'armorperlevel',
 'spellblock',
 'spellblockperlevel',
 'attackrange',
 'hpregen',
 'hpregenperlevel',
 'mpregen',
 'mpregenperlevel',
 'crit',
 'critperlevel',
 'attackdamage',
 'attackdamageperlevel',
 'attackspeedperlevel',
 'attackspeed']

In [26]:
teamposition = pd.read_csv('../data/teamPositions.csv') #matchId	participantId	teamPositio

X_train_added2 = pd.merge(X_train_added1, teamposition, 
                          left_on=["matchId", "participantId"], 
                          right_on=["matchId", "participantId"], 
                          how="left")
X_train_added2.head(5)
X_train_added2.columns.to_list()

['matchId',
 'teamId',
 'participantId',
 'summonerId',
 'summonerLevel',
 'championName',
 'championId',
 'championPoints',
 'hp',
 'hpperlevel',
 'mp',
 'mpperlevel',
 'movespeed',
 'armor',
 'armorperlevel',
 'spellblock',
 'spellblockperlevel',
 'attackrange',
 'hpregen',
 'hpregenperlevel',
 'mpregen',
 'mpregenperlevel',
 'crit',
 'critperlevel',
 'attackdamage',
 'attackdamageperlevel',
 'attackspeedperlevel',
 'attackspeed',
 'teamPosition']

In [27]:
train_predictions_added1 = ( 
    X_train_added1
    .sort_values(['matchId', 'hp',
 'hpperlevel',
 'mp',
 'mpperlevel',
 'movespeed',
 'armor',
 'armorperlevel',
 'spellblock',
 'spellblockperlevel',
 'attackrange',
 'hpregen',
 'hpregenperlevel',
 'mpregen',
 'mpregenperlevel',
 'crit',
 'critperlevel',
 'attackdamage',
 'attackdamageperlevel',
 'attackspeedperlevel',
 'attackspeed'], ascending = [True, False, False, False, False, 
                              False, False, False, False, False,
                             False, False, False, False, False,
                             False, False, False, False, False, False])
    .drop_duplicates('matchId')
    [['matchId', 'teamId']]
    .reset_index(drop = True)
)

train_predictions_added1

      matchId  teamId
0           0     200
1           1     200
2           2     200
3           3     100
4           4     200
...       ...     ...
7995     7995     200
7996     7996     200
7997     7997     100
7998     7998     200
7999     7999     200

[8000 rows x 2 columns]

In [142]:
accuracy_score(
    y_true = y_train['winner'],
    y_pred = train_predictions_added1['teamId']
)

0.502

In [40]:
from sklearn.linear_model import LogisticRegression

from sklearn.model_selection import train_test_split
from sklearn.cluster import KMeans
from sklearn.pipeline import Pipeline
from sklearn.preprocessing import StandardScaler
import matplotlib.pyplot as plt

import seaborn as sns
import matplotlib.pyplot as plt

kfold = KFold(n_splits = 10, shuffle = True, random_state = 42)
mastery_cv_scores = cross_val_score(
    estimator = logreg_mastery,
    X = X_train,
    y = y_train,
    cv = kfold
)

print(mastery_cv_scores)
print(np.mean(mastery_cv_scores))

In [44]:
X = X_train_added2
# y = y_train

# X_train_sm1, X_test_sm1, y_train_sm1, y_test_sm1 = train_test_split(X, y, random_state = 321)

# linreg_base = LinearRegression().fit(X_train_sm1, y_train_sm1)# 

X_train_added2.columns
X_train_added2.head(10)

,matchId,teamId,participantId,summonerId,summonerLevel,championName,championId,championPoints,hp,hpperlevel,...,hpregenperlevel,mpregen,mpregenperlevel,crit,critperlevel,attackdamage,attackdamageperlevel,attackspeedperlevel,attackspeed,teamPosition
0,0,100,1,0,303,Mordekaiser,82,829357128,645.0,104.0,...,0.75,0.00,0.0,0.0,0.0,61.0,4.00,1.000,0.625,TOP
1,0,100,2,1,616,Sylas,517,914915168,575.0,129.0,...,0.90,8.00,0.8,0.0,0.0,61.0,3.00,3.500,0.645,JUNGLE
2,0,100,3,2,667,Lissandra,127,593687341,620.0,110.0,...,0.55,8.00,0.4,0.0,0.0,55.0,2.70,1.360,0.656,MIDDLE
3,0,100,4,3,860,Caitlyn,51,2483939552,580.0,107.0,...,0.55,7.40,0.7,0.0,0.0,60.0,3.80,4.000,0.681,BOTTOM
4,0,100,5,4,325,Morgana,25,1939925550,630.0,104.0,...,0.40,11.00,0.4,0.0,0.0,56.0,3.50,1.530,0.625,UTILITY
5,0,200,6,5,459,Warwick,19,699690687,620.0,99.0,...,0.75,7.45,0.6,0.0,0.0,65.0,3.00,2.300,0.638,TOP
6,0,200,7,6,416,LeeSin,64,3547947193,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,JUNGLE
7,0,200,8,7,338,Ahri,103,1936114761,590.0,96.0,...,0.60,8.00,0.8,0.0,0.0,53.0,3.00,2.000,0.668,MIDDLE
8,0,200,9,8,344,Samira,360,577457532,600.0,108.0,...,0.55,8.20,0.7,0.0,0.0,57.0,3.30,3.300,0.658,BOTTOM
9,0,200,10,9,532,Alistar,12,857686309,670.0,120.0,...,0.85,8.50,0.8,0.0,0.0,62.0,3.75,2.125,0.625,UTILITY

In [79]:
pd.concat([X_train_added2[X_train_added2['participantId']==1].reset_index(drop=True),
           X_train_added2[X_train_added2['participantId']==2].reset_index(drop=True),
           X_train_added2[X_train_added2['participantId']==3].reset_index(drop=True),
          X_train_added2[X_train_added2['participantId']==4].reset_index(drop=True)], 
          axis=1)

# X_train_added2[X_train_added2['participantId']==1]

,matchId,teamId,participantId,summonerId,summonerLevel,championName,championId,championPoints,hp,hpperlevel,...,hpregenperlevel,mpregen,mpregenperlevel,crit,critperlevel,attackdamage,attackdamageperlevel,attackspeedperlevel,attackspeed,teamPosition
0,0,100,1,0,303,Mordekaiser,82,829357128,645.0,104.0,...,0.55,7.40,0.7,0.0,0.0,60.0,3.8,4.00,0.681,BOTTOM
1,1,100,1,10,570,Riven,92,2206187838,630.0,100.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,BOTTOM
2,2,100,1,20,619,Aatrox,266,778374889,650.0,114.0,...,0.55,7.40,0.7,0.0,0.0,60.0,3.8,4.00,0.681,BOTTOM
3,3,100,1,30,437,Sett,875,854963791,670.0,114.0,...,0.55,7.40,0.7,0.0,0.0,60.0,3.8,4.00,0.681,BOTTOM
4,4,100,1,40,668,Irelia,39,1653572892,590.0,124.0,...,0.70,6.00,0.8,0.0,0.0,53.0,1.3,2.00,0.658,BOTTOM
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7995,7995,100,1,1283,766,Kaisa,145,1854044088,NaN,NaN,...,0.55,6.30,0.4,0.0,0.0,66.0,3.5,4.50,0.694,BOTTOM
7996,7996,100,1,37425,111,Malphite,54,813433826,644.0,104.0,...,0.65,8.50,1.0,0.0,0.0,60.0,2.5,2.50,0.625,BOTTOM
7997,7997,100,1,1190,84,Urgot,6,479093267,655.0,102.0,...,0.75,8.25,0.8,0.0,0.0,60.0,3.5,3.90,0.658,BOTTOM
7998,7998,100,1,29798,99,Shen,98,870295455,610.0,99.0,...,0.50,6.70,1.0,0.0,0.0,59.0,3.4,1.36,0.625,BOTTOM
7999,7999,100,1,4970,364,Illaoi,420,488800633,656.0,109.0,...,0.60,8.00,1.0,0.0,0.0,55.0,3.0,1.00,0.669,BOTTOM

In [93]:
data = X_train_added2[['matchId',
 'teamId',
'participantId',
    'summonerLevel',
  'championId',
 'championPoints',
 'hp',
 'hpperlevel',
 'mp',
 'mpperlevel',
 'movespeed',
 'armor',
 'armorperlevel',
 'spellblock',
 'spellblockperlevel',
 'attackrange',
 'hpregen',
 'hpregenperlevel',
 'mpregen',
 'mpregenperlevel',
 'crit',
 'critperlevel',
 'attackdamage',
 'attackdamageperlevel',
 'attackspeedperlevel',
 'attackspeed']]
 #'teamPosition']
        
data.head(5)

,matchId,teamId,participantId,summonerLevel,championId,championPoints,hp,hpperlevel,mp,mpperlevel,...,hpregen,hpregenperlevel,mpregen,mpregenperlevel,crit,critperlevel,attackdamage,attackdamageperlevel,attackspeedperlevel,attackspeed
0,0,100,1,303,82,829357128,645.0,104.0,100.0,0.0,...,5.0,0.75,0.0,0.0,0.0,0.0,61.0,4.0,1.00,0.625
1,0,100,2,616,517,914915168,575.0,129.0,310.0,70.0,...,9.0,0.90,8.0,0.8,0.0,0.0,61.0,3.0,3.50,0.645
2,0,100,3,667,127,593687341,620.0,110.0,475.0,30.0,...,7.0,0.55,8.0,0.4,0.0,0.0,55.0,2.7,1.36,0.656
3,0,100,4,860,51,2483939552,580.0,107.0,315.0,40.0,...,3.5,0.55,7.4,0.7,0.0,0.0,60.0,3.8,4.00,0.681
4,0,100,5,325,25,1939925550,630.0,104.0,340.0,60.0,...,5.5,0.40,11.0,0.4,0.0,0.0,56.0,3.5,1.53,0.625

In [121]:
data_x=pd.concat([data[data['participantId']==1].reset_index(drop=True).drop(columns = ['teamId', 'participantId']).rename(columns=lambda X: X+"_1"),
           data[data['participantId']==2].reset_index(drop=True).drop(columns = ['matchId',
                                                                             'teamId', 'participantId']).rename(columns=lambda X: X+"_2"),
           data[data['participantId']==3].reset_index(drop=True).drop(columns = ['matchId',
                                                                             'teamId', 'participantId']).rename(columns=lambda X: X+"_3"),
          data[data['participantId']==4].reset_index(drop=True).drop(columns = ['matchId',
                                                                             'teamId', 'participantId']).rename(columns=lambda X: X+"_4"),
          data[data['participantId']==5].reset_index(drop=True).drop(columns = ['matchId',
                                                                             'teamId', 'participantId']).rename(columns=lambda X: X+"_5"),
          data[data['participantId']==6].reset_index(drop=True).drop(columns = ['matchId',
                                                                             'teamId', 'participantId']).rename(columns=lambda X: X+"_6"),
          data[data['participantId']==7].reset_index(drop=True).drop(columns = ['matchId',
                                                                             'teamId', 'participantId']).rename(columns=lambda X: X+"_7"),
          data[data['participantId']==8].reset_index(drop=True).drop(columns = ['matchId',
                                                                             'teamId', 'participantId']).rename(columns=lambda X: X+"_8"),
          data[data['participantId']==9].reset_index(drop=True).drop(columns = ['matchId',
                                                                             'teamId', 'participantId']).rename(columns=lambda X: X+"_9"),
          data[data['participantId']==10].reset_index(drop=True).drop(columns = ['matchId',
                                                                             'teamId', 'participantId']).rename(columns=lambda X: X+"_10")], 
          axis=1)
data_x.shape #8000, 240
# data_x.columns.to_list()
data_x.head(10)

,matchId_1,summonerLevel_1,championId_1,championPoints_1,hp_1,hpperlevel_1,mp_1,mpperlevel_1,movespeed_1,armor_1,...,hpregen_10,hpregenperlevel_10,mpregen_10,mpregenperlevel_10,crit_10,critperlevel_10,attackdamage_10,attackdamageperlevel_10,attackspeedperlevel_10,attackspeed_10
0,0,303,82,829357128,645.0,104.0,100.0,0.0,335.0,37.0,...,8.5,0.85,8.50,0.8,0.0,0.0,62.0,3.75,2.125,0.625
1,1,570,92,2206187838,630.0,100.0,0.0,0.0,340.0,33.0,...,5.0,0.50,8.75,0.5,0.0,0.0,62.0,3.50,3.000,0.635
2,2,619,266,778374889,650.0,114.0,0.0,0.0,345.0,38.0,...,7.0,0.50,8.00,1.0,0.0,0.0,62.0,2.00,2.500,0.667
3,3,437,875,854963791,670.0,114.0,0.0,0.0,340.0,33.0,...,5.5,0.55,13.00,0.5,0.0,0.0,51.0,3.30,2.300,0.625
4,4,668,39,1653572892,590.0,124.0,350.0,50.0,335.0,36.0,...,6.0,0.60,11.00,0.6,0.0,0.0,47.0,2.60,2.250,0.625
5,5,462,122,1429087803,652.0,114.0,263.0,58.0,340.0,39.0,...,7.0,0.55,6.00,0.8,0.0,0.0,56.0,2.20,3.500,0.625
6,6,54,114,1329045944,620.0,99.0,300.0,60.0,345.0,33.0,...,5.5,0.55,13.00,0.5,0.0,0.0,51.0,3.30,2.300,0.625
7,7,348,25,1939925550,630.0,104.0,340.0,60.0,335.0,25.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,8,48,887,267274892,620.0,109.0,330.0,40.0,340.0,39.0,...,6.0,0.60,11.00,0.6,0.0,0.0,47.0,2.60,2.250,0.625
9,9,101,6,479093267,655.0,102.0,340.0,45.0,330.0,36.0,...,5.5,0.55,11.50,0.4,0.0,0.0,51.0,3.10,2.610,0.644

In [109]:
y_train.head(5)
y_train.shape

(8000, 2)

In [113]:
X = data_x
y = y_train.drop(columns = ['matchId'])

X_train, X_test, y_train, y_test = train_test_split(X, y, random_state = 321)

In [104]:
X_train.isna().sum()

matchId_1                    0
summonerLevel_1              0
championId_1                 0
championPoints_1             0
hp_1                       468
                          ...
critperlevel_10            251
attackdamage_10            251
attackdamageperlevel_10    251
attackspeedperlevel_10     251
attackspeed_10             251
Length: 231, dtype: int64

In [114]:
logreg = LogisticRegression().fit(X_train.fillna(0), y_train)

C:\Users\upadh\anaconda3\lib\site-packages\sklearn\utils\validation.py:1143: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [115]:
from sklearn.metrics import classification_report, accuracy_score, confusion_matrix

In [119]:
y_pred = logreg.predict(X_test.fillna(0))

In [122]:
accuracy_score(y_test, y_pred)

0.513

**Having the teamdata all the values we are still at 51.3% accuracy level we should add the team position and HotEncoding the positions**

sum the values of a column and make new
df['Ball wise total runs']= df.iloc[:, -4:-1].sum(axis=1)

In [225]:
data_x.columns.to_list()

['matchId_1',
 'summonerLevel_1',
 'championId_1',
 'championPoints_1',
 'hp_1',
 'hpperlevel_1',
 'mp_1',
 'mpperlevel_1',
 'movespeed_1',
 'armor_1',
 'armorperlevel_1',
 'spellblock_1',
 'spellblockperlevel_1',
 'attackrange_1',
 'hpregen_1',
 'hpregenperlevel_1',
 'mpregen_1',
 'mpregenperlevel_1',
 'crit_1',
 'critperlevel_1',
 'attackdamage_1',
 'attackdamageperlevel_1',
 'attackspeedperlevel_1',
 'attackspeed_1',
 'summonerLevel_2',
 'championId_2',
 'championPoints_2',
 'hp_2',
 'hpperlevel_2',
 'mp_2',
 'mpperlevel_2',
 'movespeed_2',
 'armor_2',
 'armorperlevel_2',
 'spellblock_2',
 'spellblockperlevel_2',
 'attackrange_2',
 'hpregen_2',
 'hpregenperlevel_2',
 'mpregen_2',
 'mpregenperlevel_2',
 'crit_2',
 'critperlevel_2',
 'attackdamage_2',
 'attackdamageperlevel_2',
 'attackspeedperlevel_2',
 'attackspeed_2',
 'summonerLevel_3',
 'championId_3',
 'championPoints_3',
 'hp_3',
 'hpperlevel_3',
 'mp_3',
 'mpperlevel_3',
 'movespeed_3',
 'armor_3',
 'armorperlevel_3',
 'spellblock_3',
 'spellblockperlevel_3',
 'attackrange_3',
 'hpregen_3',
 'hpregenperlevel_3',
 'mpregen_3',
 'mpregenperlevel_3',
 'crit_3',
 'critperlevel_3',
 'attackdamage_3',
 'attackdamageperlevel_3',
 'attackspeedperlevel_3',
 'attackspeed_3',
 'summonerLevel_4',
 'championId_4',
 'championPoints_4',
 'hp_4',
 'hpperlevel_4',
 'mp_4',
 'mpperlevel_4',
 'movespeed_4',
 'armor_4',
 'armorperlevel_4',
 'spellblock_4',
 'spellblockperlevel_4',
 'attackrange_4',
 'hpregen_4',
 'hpregenperlevel_4',
 'mpregen_4',
 'mpregenperlevel_4',
 'crit_4',
 'critperlevel_4',
 'attackdamage_4',
 'attackdamageperlevel_4',
 'attackspeedperlevel_4',
 'attackspeed_4',
 'summonerLevel_5',
 'championId_5',
 'championPoints_5',
 'hp_5',
 'hpperlevel_5',
 'mp_5',
 'mpperlevel_5',
 'movespeed_5',
 'armor_5',
 'armorperlevel_5',
 'spellblock_5',
 'spellblockperlevel_5',
 'attackrange_5',
 'hpregen_5',
 'hpregenperlevel_5',
 'mpregen_5',
 'mpregenperlevel_5',
 'crit_5',
 'critperlevel_5',
 'attackdamage_5',
 'attackdamageperlevel_5',
 'attackspeedperlevel_5',
 'attackspeed_5',
 'summonerLevel_6',
 'championId_6',
 'championPoints_6',
 'hp_6',
 'hpperlevel_6',
 'mp_6',
 'mpperlevel_6',
 'movespeed_6',
 'armor_6',
 'armorperlevel_6',
 'spellblock_6',
 'spellblockperlevel_6',
 'attackrange_6',
 'hpregen_6',
 'hpregenperlevel_6',
 'mpregen_6',
 'mpregenperlevel_6',
 'crit_6',
 'critperlevel_6',
 'attackdamage_6',
 'attackdamageperlevel_6',
 'attackspeedperlevel_6',
 'attackspeed_6',
 'summonerLevel_7',
 'championId_7',
 'championPoints_7',
 'hp_7',
 'hpperlevel_7',
 'mp_7',
 'mpperlevel_7',
 'movespeed_7',
 'armor_7',
 'armorperlevel_7',
 'spellblock_7',
 'spellblockperlevel_7',
 'attackrange_7',
 'hpregen_7',
 'hpregenperlevel_7',
 'mpregen_7',
 'mpregenperlevel_7',
 'crit_7',
 'critperlevel_7',
 'attackdamage_7',
 'attackdamageperlevel_7',
 'attackspeedperlevel_7',
 'attackspeed_7',
 'summonerLevel_8',
 'championId_8',
 'championPoints_8',
 'hp_8',
 'hpperlevel_8',
 'mp_8',
 'mpperlevel_8',
 'movespeed_8',
 'armor_8',
 'armorperlevel_8',
 'spellblock_8',
 'spellblockperlevel_8',
 'attackrange_8',
 'hpregen_8',
 'hpregenperlevel_8',
 'mpregen_8',
 'mpregenperlevel_8',
 'crit_8',
 'critperlevel_8',
 'attackdamage_8',
 'attackdamageperlevel_8',
 'attackspeedperlevel_8',
 'attackspeed_8',
 'summonerLevel_9',
 'championId_9',
 'championPoints_9',
 'hp_9',
 'hpperlevel_9',
 'mp_9',
 'mpperlevel_9',
 'movespeed_9',
 'armor_9',
 'armorperlevel_9',
 'spellblock_9',
 'spellblockperlevel_9',
 'attackrange_9',
 'hpregen_9',
 'hpregenperlevel_9',
 'mpregen_9',
 'mpregenperlevel_9',
 'crit_9',
 'critperlevel_9',
 'attackdamage_9',
 'attackdamageperlevel_9',
 'attackspeedperlevel_9',
 'attackspeed_9',
 'summonerLevel_10',
 'championId_10',
 'championPoints_10',
 'hp_10',
 'hpperlevel_10',
 'mp_10',
 'mpperlevel_10',
 'movespeed_10',
 'armor_10',
 'armorperlevel_10',
 'spellblock_10',
 'spellblockperlevel_10',
 'attackrange_10',
 'hpregen_10',
 'hpregenperlevel_10',
 'mpregen_10',
 'mpregenperlevel_10',
 'crit_10',
 'critperlevel_10',
 'attackdamage_10',
 'attackdamageperlevel_10',
 'attackspeedperlevel_10',
 'attackspeed_10']

In [160]:
last_aj=pd.read_csv('../data/last_frame_valuesALL.csv')

last_aj.shape #80000, 47

(80000, 47)

Column in the .csv from aj 
Index(['matchId', 'participantId', 'final_gold', 'final_xp',
       'final_abilityHaste', 'final_abilityPower', 'final_armor',
       'final_armorPen', 'final_armorPenPercent', 'final_attackDamage',
       'final_attackSpeed', 'final_bonArbPct', 'final_ccReduction',
       'final_cooldownReduction', 'final_health', 'final_healthMax',
       'final_healthRegen', 'final_lifesteal', 'final_magicPen',
       'final_magicPenPercent', 'final_magicResist', 'final_movementSpeed',
       'final_omnivamp', 'final_physicalVamp', 'final_power', 'final_powerMax',
       'final_powerRegen', 'final_spellVamp', 'final_magicDamageDone',
       'final_magicDamageDoneToChampions', 'final_magicDamageTaken',
       'final_physicalDamageDone', 'final_physicalDamageDoneToChampions',
       'final_physicalDamageTaken', 'final_totalDamageDone',
       'final_totalDamageDoneToChampions', 'final_totalDamageTaken',
       'final_trueDamageDone', 'final_trueDamageDoneToChampions',
       'final_trueDamageTaken', 'final_currentGold', 'final_goldPerSecond',
       'final_jungleMinionsKilled', 'final_level', 'final_minionsKilled',
       'final_timeEnemySpentControlled', 'final_totalGold'],
      dtype='object')

In [224]:
data.shape
data.columns.to_list()
data_aj = pd.merge(data, last_aj, left_on=["matchId", "participantId"], right_on=["matchId", "participantId"], how="left")
data_aj.columns.to_list()
# data_aj.shape
# data_aj.head(5)

['matchId',
 'teamId',
 'participantId',
 'summonerLevel',
 'championId',
 'championPoints',
 'hp',
 'hpperlevel',
 'mp',
 'mpperlevel',
 'movespeed',
 'armor',
 'armorperlevel',
 'spellblock',
 'spellblockperlevel',
 'attackrange',
 'hpregen',
 'hpregenperlevel',
 'mpregen',
 'mpregenperlevel',
 'crit',
 'critperlevel',
 'attackdamage',
 'attackdamageperlevel',
 'attackspeedperlevel',
 'attackspeed',
 'final_gold',
 'final_xp',
 'final_abilityHaste',
 'final_abilityPower',
 'final_armor',
 'final_armorPen',
 'final_armorPenPercent',
 'final_attackDamage',
 'final_attackSpeed',
 'final_bonArbPct',
 'final_ccReduction',
 'final_cooldownReduction',
 'final_health',
 'final_healthMax',
 'final_healthRegen',
 'final_lifesteal',
 'final_magicPen',
 'final_magicPenPercent',
 'final_magicResist',
 'final_movementSpeed',
 'final_omnivamp',
 'final_physicalVamp',
 'final_power',
 'final_powerMax',
 'final_powerRegen',
 'final_spellVamp',
 'final_magicDamageDone',
 'final_magicDamageDoneToChampions',
 'final_magicDamageTaken',
 'final_physicalDamageDone',
 'final_physicalDamageDoneToChampions',
 'final_physicalDamageTaken',
 'final_totalDamageDone',
 'final_totalDamageDoneToChampions',
 'final_totalDamageTaken',
 'final_trueDamageDone',
 'final_trueDamageDoneToChampions',
 'final_trueDamageTaken',
 'final_currentGold',
 'final_goldPerSecond',
 'final_jungleMinionsKilled',
 'final_level',
 'final_minionsKilled',
 'final_timeEnemySpentControlled',
 'final_totalGold']

**converting each matchId as one row to have same number of observations(rows) for X_train and y_train**

In [146]:
data_aj_x=pd.concat([data_aj[data_aj['participantId']==1].reset_index(drop=True).drop(columns = ['teamId', 'participantId']).rename(columns=lambda X: X+"_1"),
           data_aj[data_aj['participantId']==2].reset_index(drop=True).drop(columns = ['matchId',
                                                                             'teamId', 'participantId']).rename(columns=lambda X: X+"_2"),
           data_aj[data_aj['participantId']==3].reset_index(drop=True).drop(columns = ['matchId',
                                                                             'teamId', 'participantId']).rename(columns=lambda X: X+"_3"),
          data_aj[data_aj['participantId']==4].reset_index(drop=True).drop(columns = ['matchId',
                                                                             'teamId', 'participantId']).rename(columns=lambda X: X+"_4"),
         data_aj[data_aj['participantId']==5].reset_index(drop=True).drop(columns = ['matchId',
                                                                             'teamId', 'participantId']).rename(columns=lambda X: X+"_5"),
          data_aj[data_aj['participantId']==6].reset_index(drop=True).drop(columns = ['matchId',
                                                                             'teamId', 'participantId']).rename(columns=lambda X: X+"_6"),
          data_aj[data_aj['participantId']==7].reset_index(drop=True).drop(columns = ['matchId',
                                                                             'teamId', 'participantId']).rename(columns=lambda X: X+"_7"),
         data_aj[data_aj['participantId']==8].reset_index(drop=True).drop(columns = ['matchId',
                                                                             'teamId', 'participantId']).rename(columns=lambda X: X+"_8"),
          data_aj[data_aj['participantId']==9].reset_index(drop=True).drop(columns = ['matchId',
                                                                             'teamId', 'participantId']).rename(columns=lambda X: X+"_9"),
         data_aj[data_aj['participantId']==10].reset_index(drop=True).drop(columns = ['matchId',
                                                                             'teamId', 'participantId']).rename(columns=lambda X: X+"_10")], 
          axis=1)
data_aj_x.shape (8000, 681)

(8000, 681)

In [151]:
# rereading the y_train data because it becomes 6000 from 8000 upon split in previous model, 
# so rereading and calling it ydata_train

# y_train.shape #(6000, 1)
ydata_train = pd.read_csv('../data/train_winners.csv')

ydata_train.shape

(8000, 2)

In [152]:
X = data_aj_x
y = ydata_train.drop(columns = ['matchId'])

X_train, X_test, y_train, y_test = train_test_split(X, y, random_state = 321) #split the training data into test and train set.

In [204]:
?train_test_split

In [162]:
X.shape
X_train.shape

(6000, 681)

In [163]:
logreg_aj = LogisticRegression().fit(X_train.fillna(0), y_train)

C:\Users\upadh\anaconda3\lib\site-packages\sklearn\utils\validation.py:1143: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [164]:
y_pred_aj = logreg_aj.predict(X_test.fillna(0))

In [165]:
accuracy_score(y_test, y_pred_aj)

0.513

Apply regularization, use scaller, impute

In [170]:
from sklearn.preprocessing import StandardScaler
from sklearn.pipeline import Pipeline
from sklearn.impute import SimpleImputer #fills average of the column if there are NaN missing values

In [168]:
?LogisticRegression #to find the variable that can be adjusted

In [201]:
logReg_aj_scaler = Pipeline(
    steps = [
        ('impute', SimpleImputer()), #fills average of the column if there are NaN missing values
        ('scaler', StandardScaler()),
        ('log_reg', LogisticRegression(C = 0.0001)) #started from 0.01, 0,001, 
    ]
).fit(X_train, y_train)

C:\Users\upadh\anaconda3\lib\site-packages\sklearn\utils\validation.py:1143: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [202]:
scal_pred = logReg_aj_scaler.predict(X_test)

In [203]:
accuracy_score(y_test, scal_pred)

0.7015

In [212]:
logReg_aj_scaler['scaler'].get_feature_names_out()
logReg_aj_scaler['log_reg'].coef_.flatten() #turns into one array

array([-6.99279768e-03,  9.26953999e-05,  1.25317492e-04,  2.27867709e-03,
        1.88042964e-03,  2.38545103e-03,  3.49819001e-03, -1.62754413e-03,
       -1.15169376e-03,  9.72244995e-04,  2.37995841e-03,  4.18944204e-03,
        2.41310752e-03,  2.26436796e-04,  2.30976978e-03,  4.48752978e-03,
       -1.29528984e-03, -1.80095146e-03,  0.00000000e+00,  0.00000000e+00,
       -1.29509242e-03,  1.51135954e-03, -1.25855666e-03, -3.15335298e-03,
       -2.83516762e-02, -1.73191051e-02,  0.00000000e+00, -2.45492346e-03,
       -6.08626421e-03,  0.00000000e+00,  6.12236103e-03, -8.94054679e-03,
       -4.82128666e-03,  0.00000000e+00, -1.91728923e-03,  0.00000000e+00,
       -9.81827928e-03, -1.36866345e-02, -7.72807422e-03,  3.00911856e-03,
        7.09707907e-03,  1.20618806e-03, -4.40302984e-03, -4.72985048e-03,
       -8.65253482e-04,  0.00000000e+00,  2.54864384e-03,  1.37513660e-03,
       -5.90858558e-04,  4.99689876e-03, -3.55877050e-03, -5.03669151e-03,
        2.13537992e-03, -1.14202652e-02, -7.76228717e-03, -1.85605619e-05,
       -1.43455507e-02, -1.26590863e-02,  2.26477792e-03,  1.77143146e-03,
       -2.64687930e-03,  4.59897939e-03, -9.50261879e-03, -1.06797187e-03,
       -2.60283974e-03, -1.42059162e-02, -1.44454814e-02, -4.96155532e-03,
       -2.83516762e-02,  4.40720413e-03,  5.03078950e-03,  5.43567018e-03,
       -1.53514165e-03,  2.05695942e-03, -1.08350018e-03, -4.37265014e-03,
        1.27460888e-03, -4.23871819e-03,  2.57441688e-03,  2.21496886e-03,
        6.44414842e-04,  2.26184450e-03, -9.59658175e-04, -1.39347248e-03,
       -2.67467654e-03, -6.80483055e-03,  0.00000000e+00,  0.00000000e+00,
        1.07013568e-03,  4.32763955e-03,  5.08359513e-03, -5.10947915e-03,
       -2.37633991e-02, -1.63083994e-02,  0.00000000e+00, -5.20632028e-03,
       -7.68591476e-03,  0.00000000e+00,  3.32268342e-03, -4.18334244e-03,
       -6.39796832e-03,  0.00000000e+00, -7.59584142e-03,  0.00000000e+00,
       -9.99700239e-03, -1.16189496e-02, -1.69018021e-03,  2.45750958e-03,
        1.22276204e-03,  3.33807902e-04, -5.81373865e-03, -1.34952419e-03,
       -6.41248178e-03,  0.00000000e+00, -1.13668103e-03, -1.58337918e-03,
       -3.20906582e-03,  2.79378937e-03, -2.71445065e-03, -6.85585882e-03,
        1.51023270e-02, -6.10288336e-03, -1.08515610e-02,  2.48497614e-03,
       -8.77944000e-03, -1.68848167e-02,  9.08490673e-03, -1.29739480e-03,
       -9.52118334e-03,  1.20077198e-02, -1.15054264e-02, -4.27521477e-03,
       -7.77734007e-03, -1.35149612e-02, -4.52578445e-03, -3.85238096e-03,
       -2.37633991e-02,  2.17124976e-03,  4.56999134e-04,  5.23027451e-03,
        2.63201238e-03,  5.21028266e-03, -2.33118575e-03,  1.94760099e-04,
       -8.16768452e-04,  8.95872148e-04,  7.75180023e-03,  1.50381014e-03,
        2.93403290e-03, -2.37779664e-03,  2.51227720e-03,  3.16395012e-03,
        2.01994476e-03, -7.12195437e-04,  0.00000000e+00,  0.00000000e+00,
        2.06742721e-05,  2.82436154e-03,  6.03754588e-03,  4.68452050e-03,
       -2.94176469e-02, -1.38216483e-02,  0.00000000e+00, -7.78327699e-03,
       -5.98050092e-03,  0.00000000e+00,  8.34089637e-03, -5.20635882e-03,
       -9.05710257e-03,  0.00000000e+00, -4.87382799e-05,  0.00000000e+00,
       -1.05056449e-03, -9.69770662e-03, -1.63325621e-03, -2.93263494e-03,
       -1.65266570e-03, -7.87783684e-03, -2.81599889e-03, -1.63964252e-03,
       -6.07308411e-03,  0.00000000e+00, -3.40184174e-03, -7.13475066e-03,
       -6.06162015e-03, -1.27148946e-03, -7.03418010e-03, -8.76117520e-03,
        7.22546411e-03, -6.15141590e-03, -6.61694650e-03, -1.15651528e-03,
       -1.52483506e-02, -1.45794544e-02,  4.24651299e-03, -3.91183008e-04,
        2.70490972e-04,  2.97304493e-03, -7.74137441e-03, -6.43168224e-04,
       -3.12717823e-03, -1.03895403e-02, -7.59547378e-03, -6.07886333e-03,
       -2.94176469e-02,  1.44026910e-03,  2.62363824e-03,  2.91406692e-03,
        2.23141359e-03,  1.87228623e-04, -1.02094093e-03,  4.42845763e-03,
        1.50431230e-04,  6.96895810e-03,  2.83819357e-03,  4.23669079e-03,
        6.46325787e-03, -3.74692424e-03, -5.11962280e-04,  6.46490568e-03,
        3.21342386e-03, -4.84386884e-03,  0.00000000e+00,  0.00000000e+00,
        7.20987345e-03,  3.79059851e-03,  3.25727020e-03,  2.60529973e-03,
       -3.40249269e-02, -1.70048454e-02,  0.00000000e+00, -4.45995412e-03,
       -7.68794395e-03,  0.00000000e+00, -4.92694771e-03, -1.11695203e-02,
       -1.11513345e-02,  0.00000000e+00, -3.74354001e-03,  0.00000000e+00,
       -3.37586272e-03, -1.38401510e-02,  3.54571088e-03, -9.28022042e-03,
       -1.56065717e-04,  0.00000000e+00, -3.08533843e-03, -2.76886607e-03,
        5.98201289e-06,  0.00000000e+00,  2.88732652e-03,  9.28856483e-04,
       -5.05466350e-03, -1.95170029e-03, -6.94277947e-03, -7.90571807e-03,
        8.51434637e-03, -2.19935841e-02, -1.45086173e-02,  5.42333172e-03,
       -2.69780551e-02, -1.86406567e-02,  8.83160196e-03, -2.50504510e-03,
       -3.83929177e-03,  1.53433955e-04, -7.77230578e-03,  1.10497596e-03,
       -4.60459159e-04, -1.38318537e-02, -1.94980681e-02,  4.82966425e-03,
       -3.40249269e-02, -4.17585772e-03, -3.54770997e-04,  4.59533010e-03,
        8.10227897e-04,  6.79299307e-04, -1.97034325e-03, -1.37588367e-03,
       -1.44803379e-03, -1.82762219e-03,  1.83172771e-05, -1.47302970e-03,
       -2.38307045e-03,  9.04922831e-04,  1.90049089e-04,  2.52981986e-03,
       -3.94100755e-03, -2.17850486e-03,  0.00000000e+00,  0.00000000e+00,
        2.47189238e-04,  5.90435196e-03, -7.60517192e-04,  3.28479611e-03,
       -2.30701918e-02, -1.35444022e-02,  0.00000000e+00,  1.57622687e-03,
       -7.74690624e-03,  0.00000000e+00, -4.85182778e-03, -6.86305327e-03,
       -4.23680985e-03,  0.00000000e+00, -2.92321335e-03,  0.00000000e+00,
       -7.22136590e-03, -8.30881523e-03, -9.98762547e-04, -1.63309612e-03,
       -2.95404221e-03,  0.00000000e+00, -7.49068805e-03,  1.05547988e-03,
       -2.16628122e-03,  0.00000000e+00, -3.24815424e-03, -4.52167978e-03,
       -5.77105914e-03, -2.37871449e-03, -6.46403069e-03, -2.47546596e-03,
        1.36925423e-02, -9.12750757e-03, -6.21939928e-03,  4.99632534e-03,
       -1.01478921e-02, -6.68673122e-03,  1.07590610e-02, -2.17905655e-03,
        4.15909620e-03,  2.32765292e-03, -5.30180022e-03, -4.36907291e-03,
       -5.53094204e-03, -1.14131652e-02, -2.38116587e-03,  5.36213953e-04,
       -2.30701918e-02,  2.46194016e-03, -3.56011741e-03, -4.97456205e-03,
       -3.72891773e-04, -9.50972948e-04,  5.73347755e-03,  1.75799982e-03,
        1.07149794e-03,  5.32438236e-03,  1.40949657e-03,  3.49917050e-04,
        3.61251719e-03, -1.65749806e-03,  4.38787364e-04, -6.09489326e-04,
        2.65226002e-03, -5.29274943e-05,  0.00000000e+00,  0.00000000e+00,
        2.96281454e-03, -1.06115165e-03,  1.24106423e-04,  9.06243730e-04,
        2.54289441e-02,  1.67792805e-02,  0.00000000e+00,  1.94809290e-03,
        3.09136224e-03,  0.00000000e+00,  1.96444900e-03,  9.58578404e-03,
        4.34181240e-03,  0.00000000e+00,  4.60663052e-03,  0.00000000e+00,
        6.03717976e-03,  1.08654649e-02,  3.36621742e-03,  8.71620907e-03,
        2.08905905e-03, -3.93663714e-04,  5.68550709e-03,  5.65793119e-03,
       -2.15743636e-03,  0.00000000e+00,  2.76034326e-03,  4.71597511e-03,
        7.23231712e-03,  2.37423471e-03,  5.13820211e-03,  3.44478074e-03,
       -2.54984298e-03,  8.14261312e-03,  7.72582464e-03,  4.44138663e-04,
        1.42956714e-02,  1.22588838e-02, -1.56421278e-03,  3.26590589e-03,
        7.38688700e-03, -1.32771716e-03,  9.33880742e-03, -2.59652452e-03,
        1.65506676e-03,  1.27566400e-02,  1.20944887e-02,  1.05329899e-03,
        2.54289441e-02,  1.68235120e-03,  3.58542807e-03, -3.62038694e-03,
        7.41035004e-03, -2.11389484e-03,  1.72951103e-03,  2.69897664e-04,
       -1.82781508e-03,  3.79560628e-03,  2.65653372e-03,  1.56429351e-03,
       -2.65363230e-03, -1.62135699e-03,  3.19106612e-04,  5.41856379e-03,
       -5.01523489e-03, -9.49252197e-04,  0.00000000e+00,  0.00000000e+00,
        6.26644869e-04,  7.78944877e-04, -8.76753975e-03,  3.38162326e-03,
        2.76385333e-02,  1.81383518e-02,  0.00000000e+00,  4.96214919e-03,
        3.82316705e-03,  0.00000000e+00,  2.42228240e-03,  3.14036788e-03,
        7.43101934e-03,  0.00000000e+00,  1.47956604e-02,  0.00000000e+00,
        8.08038601e-03,  1.75689653e-02,  5.66195559e-03,  8.35009055e-04,
        2.53417079e-03,  2.70536841e-03,  5.43089380e-03,  6.02055540e-03,
        8.48428342e-03,  0.00000000e+00,  1.49354530e-03,  1.48195639e-03,
        1.22461449e-02,  5.53681310e-03,  5.23319509e-03,  5.61450660e-03,
       -1.14812184e-02,  8.00284553e-03,  6.55428276e-03,  1.99783779e-03,
        1.10213956e-02,  1.11642558e-02, -3.08813123e-03,  8.55977324e-05,
        3.97004863e-03, -2.53957074e-03,  1.37493257e-02, -6.21457553e-03,
        1.17407726e-02,  1.34368814e-02,  4.10752440e-03,  1.52754295e-03,
        2.76385333e-02,  5.98280186e-03, -1.08844662e-03, -2.80302277e-03,
        6.72122632e-04, -3.76911809e-03, -3.00538273e-03, -4.04290354e-03,
       -2.82041165e-03,  1.13137156e-03, -3.11446118e-03,  3.60290475e-04,
       -9.18999478e-04,  2.76176423e-03, -2.94162636e-03, -3.14336438e-03,
       -5.92110782e-03, -4.53302802e-03,  0.00000000e+00,  0.00000000e+00,
       -4.03937506e-03, -6.82757610e-03, -3.85275378e-03,  1.84778014e-04,
        2.63154423e-02,  1.40027857e-02,  0.00000000e+00,  1.00125690e-02,
        6.39478506e-03,  0.00000000e+00,  6.10164808e-03,  3.52635820e-04,
       -9.50701660e-04,  0.00000000e+00,  5.76182892e-03,  0.00000000e+00,
        3.82046431e-03,  1.07337626e-02, -6.25893230e-03, -7.36704625e-04,
        6.77074903e-03,  3.51992428e-03,  4.22655782e-03, -1.79695870e-03,
       -3.87907425e-04,  0.00000000e+00, -6.60861776e-03, -6.21127313e-04,
       -3.05501800e-03, -3.40102378e-04,  1.22290579e-02,  7.41144030e-03,
       -1.09767760e-02, -4.01206064e-05,  3.53077158e-03, -5.31018322e-03,
        1.35880002e-02,  1.09705896e-02, -1.20151496e-02,  1.33367644e-03,
        3.44212316e-03,  6.40596368e-05,  1.11219063e-02,  1.08122052e-03,
       -5.33011608e-04,  1.00417607e-02,  1.05959446e-02, -1.35382811e-03,
        2.63154423e-02,  4.88434877e-04,  2.62984105e-03, -5.91669188e-03,
        7.75796222e-04,  2.79108558e-03, -4.45641271e-04, -4.53648456e-03,
        3.42709146e-03,  1.01750018e-03, -1.79261433e-03,  1.18131680e-03,
        4.23706315e-03, -5.61364993e-03,  1.89863472e-03,  3.38631674e-03,
        9.24038111e-04, -2.50726227e-03,  0.00000000e+00,  0.00000000e+00,
       -6.31595648e-03, -1.94704673e-03, -2.48053940e-03,  6.55069273e-04,
        3.00494864e-02,  1.53682714e-02,  0.00000000e+00,  5.53637545e-03,
        1.27064905e-02,  0.00000000e+00,  4.67487853e-03,  9.11205023e-03,
        8.27737080e-03,  0.00000000e+00,  6.26640279e-03,  0.00000000e+00,
        1.76662504e-03,  1.29089222e-02,  9.90997312e-03,  1.45515470e-02,
       -2.59221401e-03,  3.12017097e-03,  7.05946581e-03,  5.98750850e-03,
       -3.55951872e-03,  0.00000000e+00, -1.02787428e-03,  2.44873335e-04,
        6.28214916e-03,  1.08692770e-03,  5.96973072e-03,  7.98312341e-03,
       -8.66935475e-03,  1.76639484e-02,  1.60116218e-02, -3.34434612e-03,
        2.45982273e-02,  2.00646335e-02, -7.48073008e-03,  8.32452909e-03,
        2.42053331e-03, -2.82454663e-03,  1.07977990e-02,  3.68103500e-03,
        4.24443004e-03,  1.16872305e-02,  1.32794755e-02,  6.76755934e-03,
        3.00494864e-02,  3.60197707e-03, -8.91918656e-04, -1.01259389e-03,
       -3.66950933e-03,  1.04877520e-03,  2.67836007e-03, -1.68123789e-03,
        8.69261326e-04,  9.59703927e-04, -4.15039884e-03,  2.67470721e-03,
        2.54060888e-03, -2.87975775e-04,  2.04655853e-03,  2.77368242e-03,
        2.68824769e-03, -2.42118699e-03,  0.00000000e+00,  0.00000000e+00,
       -2.22126867e-03, -3.44711835e-03,  2.19388805e-03, -4.60477281e-03,
        2.17699431e-02,  1.27397394e-02,  0.00000000e+00,  1.29970081e-03,
        6.55927017e-03,  0.00000000e+00, -3.19502847e-04, -3.64279398e-04,
        1.16933731e-03,  0.00000000e+00,  8.73839710e-03,  0.00000000e+00,
        3.47005585e-03,  1.28927712e-02,  5.65813131e-03, -7.31988186e-04,
        1.86082200e-03, -4.05388715e-03,  4.28755694e-03,  3.53282433e-03,
       -2.74991003e-03,  0.00000000e+00, -2.35121472e-03,  2.20863221e-03,
        7.13682282e-03, -5.40367211e-03,  5.02972638e-03,  8.72226882e-03,
       -7.96357359e-03,  2.59909299e-03,  1.92814655e-03, -6.90355313e-03,
        4.52744274e-03,  9.62647138e-03, -9.59016253e-03, -6.56594892e-04,
        2.96139526e-03, -3.29716494e-03,  9.38570569e-03,  1.06303463e-02,
       -3.86165959e-03,  1.13461056e-02,  3.47982002e-03, -2.36635814e-04,
        2.17699431e-02])

In [222]:
# look at coefficient

pd.DataFrame({'feature': X_train.columns,
                             'coefficient': logReg_aj_scaler['log_reg'].coef_.flatten()}).sort_values('coefficient', 
                                                                                                      ascending =False).iloc[0:20]

                                   feature  coefficient
568                           final_gold_9     0.030049
612                      final_totalGold_9     0.030049
432                           final_gold_7     0.027639
476                      final_totalGold_7     0.027639
500                           final_gold_8     0.026315
544                      final_totalGold_8     0.026315
408                      final_totalGold_6     0.025429
364                           final_gold_6     0.025429
600                final_totalDamageDone_9     0.024598
636                          final_gold_10     0.021770
680                     final_totalGold_10     0.021770
601     final_totalDamageDoneToChampions_9     0.020065
433                             final_xp_7     0.018138
597             final_physicalDamageDone_9     0.017664
445                      final_healthMax_7     0.017569
365                             final_xp_6     0.016779
598  final_physicalDamageDoneToChampions_9     0.016012
569                             final_xp_9     0.015368
120               final_magicDamageTaken_2     0.015102
442                    final_ccReduction_7     0.014796